body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

h1 {
    text-align: center;
}

.activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video-container,
.quiz-container,
.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-input-container {
    display: flex;
    margin-top: 10px;
}

.user-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3498db;
}

.send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

.chat-message {
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.user {
    background-color: #fff;
    color: #333;
    align-self: flex-end;
}

.bot {
    background-color: #a5d2f2;
    color: #333;
    align-self: flex-start;
}
