body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff; /* Fondo de la página */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Espacio entre la frase y las actividades */
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.activities-container {
    display: flex;
    gap: 20px;
}

.activity {
    background-color: #fff;
    border: 2px solid #3498db; /* Borde azul */
    border-radius: 8px;
    overflow: hidden;
}

.chat-container, .video-container, .quiz-container {
    padding: 20px; /* Espaciado interno */
    color: #333; /* Color del texto en las actividades */
}

.chat-container {
    background-color: #3498db;
    color: #fff;
}

.chat-message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}

.user {
    background-color: #fff;
    color: #333;
    align-self: flex-end;
}

.bot {
    background-color: #66bb6a; /* Verde vibrante */
    color: #fff;
    align-self: flex-start;
}

.user-input-container {
    display: flex;
    margin-top: 10px;
}

.user-input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #3498db;
}

.send-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.video-container,
.quiz-container {
    flex: 1; /* Se expanden para llenar el espacio disponible */
}

/* Estilos adicionales para el texto de bienvenida */
.welcome-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}
